environment/src/
environment/src/
temp/
outputs/
__pycache__
logs/
out/
exp/
/weights/
.DS_Store
.vscode/
eval/
/src/
/untracked
/results.txt
/metrics_clip.csv
/metrics_blip.csv
.nfs*
/eval.txt
/untracked